.wrapper {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.stats {
    margin-right: 10px;
    float: left;
}

.detail {
    position: sticky;
    top: 150px;
    height: 100vh;
}